[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

pytest = "==3.10.0"
requests = "*"
"progressbar2" = "*"
progress = "*"
pytest-cov = "*"
twine = "*"
funcsigs = "*"
mock = "*"


[dev-packages]

pytest = "*"
mock = "*"
