# Python CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-python/ for more details
#
version: 2
jobs:
  build:
    docker:
      # specify the version you desire here
      # use `-browsers` prefix for selenium tests, e.g. `3.6.1-browsers`
      - image: circleci/python:3.6.1

    steps:
      - checkout

      - run:
          name: Install pipenv
          command: pip install pipenv

      # Download and cache dependencies
      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "rPipfile.lock" }}
          # fallback to using the latest cache if no exact match is found
          - v1-dependencies-

      - run:
          name: install dependencies
          command: sudo pipenv install

      - save_cache:
          paths:
            - ./venv
          key: v1-dependencies-{{ checksum "Pipfile.lock" }}
        
      # run tests!
      - run:
          name: run tests
          command: |
            mkdir -p test-reports/junit
            pipenv shell
            pytest --junitxml=test-reports/junit/test-results.xml
            exit

      - store_artifacts:
          path: test-reports
          destination: test-reports

      - store_test_results:
          path: test-reports
          