version: 2.0

common: &common
  steps:
    - checkout
    - run:
        name: Install pipenv
        command: sudo pip install pipenv
    - run:
        name: install tox
        command: sudo pip install tox
    - run:
        name: install mock for python 2.x
        command: if [ "$TOXENV" = "py27" ]; then sudo pip install mock; fi

    - run:
        name: install dependencies
        command: |
          pipenv install
    - run:
        name: run tox
        command: tox
    - store_artifacts:
          path: test-reports
          destination: test-reports

    - store_artifacts:
          path: htmlcov
          destination: coverage

    - store_test_results:
          path: test-reports

jobs:
  py27:
    <<: *common
    docker:
      - image: circleci/python:2.7
        environment:
          TOXENV=py27
  py35:
    <<: *common
    docker:
      - image: circleci/python:3.5
        environment:
          TOXENV=py35
  py36:
    <<: *common
    docker:
      - image: circleci/python:3.6
        environment:
          TOXENV=py36


workflows:
  version: 2
  test:
    jobs:
      - py27
      - py35
      - py36